@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MajorMonoDisplay';
  src: url('../fonts/MajorMonoDisplay/MajorMonoDisplay-Regular.ttf') format('truetype');
}